p cnf 9 38
c ¬r(S) ∨ ¬n(S)
-1 -2 0
c n(S) ∨ r(S)
2 1 0
c ¬r(M) ∨ ¬n(M)
-3 -4 0
c n(M) ∨ r(M)
4 3 0
c ¬r(E) ∨ ¬n(E)
-5 -6 0
c n(E) ∨ r(E)
6 5 0
c r(S) ∨ n(S) ∨ n(S)
1 2 2 0
c r(S) ∨ n(S) ∨ n(M)
1 2 4 0
c r(S) ∨ n(S) ∨ r(E)
1 2 5 0
c r(S) ∨ r(M) ∨ n(S)
1 3 2 0
c r(S) ∨ r(M) ∨ n(M)
1 3 4 0
c r(S) ∨ r(M) ∨ r(E)
1 3 5 0
c r(S) ∨ n(E) ∨ n(S)
1 6 2 0
c r(S) ∨ n(E) ∨ n(M)
1 6 4 0
c r(S) ∨ n(E) ∨ r(E)
1 6 5 0
c n(M) ∨ n(S) ∨ n(S)
4 2 2 0
c n(M) ∨ n(S) ∨ n(M)
4 2 4 0
c n(M) ∨ n(S) ∨ r(E)
4 2 5 0
c n(M) ∨ r(M) ∨ n(S)
4 3 2 0
c n(M) ∨ r(M) ∨ n(M)
4 3 4 0
c n(M) ∨ r(M) ∨ r(E)
4 3 5 0
c n(M) ∨ n(E) ∨ n(S)
4 6 2 0
c n(M) ∨ n(E) ∨ n(M)
4 6 4 0
c n(M) ∨ n(E) ∨ r(E)
4 6 5 0
c n(E) ∨ n(S) ∨ n(S)
6 2 2 0
c n(E) ∨ n(S) ∨ n(M)
6 2 4 0
c n(E) ∨ n(S) ∨ r(E)
6 2 5 0
c n(E) ∨ r(M) ∨ n(S)
6 3 2 0
c n(E) ∨ r(M) ∨ n(M)
6 3 4 0
c n(E) ∨ r(M) ∨ r(E)
6 3 5 0
c n(E) ∨ n(E) ∨ n(S)
6 6 2 0
c n(E) ∨ n(E) ∨ n(M)
6 6 4 0
c n(E) ∨ n(E) ∨ r(E)
6 6 5 0
c ¬r(S) ∨ s(S)
-1 7 0
c ¬r(M) ∨ s(M)
-3 8 0
c ¬r(E) ∨ s(E)
-5 9 0
c ¬n(M) ∨ r(S)
-4 1 0
c ¬r(S) ∨ n(M)
-1 4 0

c Variables
c     1 r(S)
c     2 n(S)
c     3 r(M)
c     4 n(M)
c     5 r(E)
c     6 n(E)
c     7 s(S)
c     8 s(M)
c     9 s(E)
